<div id="dashboard">
  <div class="container">

    <div class="sidebar">
      <div class="ico"> 
          <img class="img-responsive" src="assets/images/dashboard/logo.png">
      </div>
      <ul>
        <li id="dash1"><input class="dd" type="button" name="dashboard">DASHBOARD</li>
        <li id="dash2"><input class="dd" type="button" name="questions">QUESTIONS</li>
        <li id="dash3"><input class="dd" type="button" name="users">USERS</li>
        <li id="dash4"><input class="dd" type="button" name="statistics">STATISTICS</li>
        <li id="dash5"><input class="dd" type="button" name="settings">SETTINGS</li>
        <li id="dash6" class="bottom"><a routerLink=""><input class="dd" type="button" name="logout">LOGOUT</a></li>
      </ul>
    </div>
  

    <div class="content">
      <div class="dashboard">
          <ul class="breadcrumb">
              <li><a routerLink="">Flow</a></li>
              <li><a routerLink="dashboard">Dashboard</a></li>
              <li>OverView</li>
            </ul>
            <div class="mathType" >
              <div class="mathHeader">
                Count
              </div>
              <div class="mathBoxes">
                <div class="mathBox">1</div>
                <div class="mathBox">2</div>
                <div class="mathBox">3</div>
                <div class="mathBox">4</div>
                <div class="mathBox">5</div>
                <div class="mathBox">6</div>
              </div>
            </div>
      </div>

      <div class="questions">Questions derp</div>
      
      <div class="users">Users derp</div>
      
      <div class="statistics">Statistics derp</div>
      
      <div class="settings">Settings derp</div> 
    </div>

  </div>
</div>
