<div id="dashboard">
  <div class="container">

    <div class="sidebar">
      <div class="ico"> 
          <img class="img-responsive" src="assets/images/dashboard/logo.png">
      </div>
      <ul>
        <li id="dash1"><input type="button" name="dashboard">DASHBOARD</li>
        <li id="dash2"><input type="button" name="questions">QUESTIONS</li>
        <li id="dash3"><input type="button" name="users">USERS</li>
        <li id="dash4"><input type="button" name="statistics">STATISTICS</li>
        <li id="dash5"><input type="button" name="settings">SETTINGS</li>
        <li id="dash6" class="bottom"><a routerLink=""><input class="dd" type="button" name="logout">LOGOUT</a></li>
      </ul>
    </div>
  

    <div class="content">
      <div class="dashboard">
          <ul class="breadcrumb">
            <li><a routerLink="">Flow</a></li>
            <li><a routerLink="dashboard">Dashboard</a></li>
            <li>OverView</li>
          </ul>
          <div class="mathType" >
            <div class="mathHeader">
              <div class="count">Count</div>
            </div>

            <div id="count" class="mathBoxes">
              <div class="mathBox">
                <div class="miniMath one">
                  <h4>Count - 1 to 5</h4>
                  <p>CountNumberMulti</p>
                </div>
                <div class="miniMath two"></div>
                <div class="miniMath three">1.2</div>
                <div class="miniMath four">0.3</div>
              </div>
              <div class="mathBox">
                  <div class="miniMath one">
                      <h4>Count - 1 to 5</h4>
                      <p>CountNumberMulti</p>
                    </div>
                    <div class="miniMath two"></div>
                    <div class="miniMath three">1.2</div>
                    <div class="miniMath four">0.3</div>
              </div>
              <div class="mathBox">
                  <div class="miniMath one">
                      <h4>Count - 1 to 5</h4>
                      <p>CountNumberMulti</p>
                    </div>
                    <div class="miniMath two"></div>
                    <div class="miniMath three">1.2</div>
                    <div class="miniMath four">0.3</div>
              </div>
              <div class="mathBox">
                  <div class="miniMath one">
                      <h4>Count - 1 to 5</h4>
                      <p>CountNumberMulti</p>
                    </div>
                    <div class="miniMath two"></div>
                    <div class="miniMath three">1.2</div>
                    <div class="miniMath four">0.3</div>
              </div>
              <div class="mathBox">
                  <div class="miniMath one">
                      <h4>Count - 1 to 5</h4>
                      <p>CountNumberMulti</p>
                    </div>
                    <div class="miniMath two"></div>
                    <div class="miniMath three">1.2</div>
                    <div class="miniMath four">0.3</div>
              </div>
              <div class="mathBox">
                  <div class="miniMath one">
                      <h4>Count - 1 to 5</h4>
                      <p>CountNumberMulti</p>
                    </div>
                    <div class="miniMath two"></div>
                    <div class="miniMath three">1.2</div>
                    <div class="miniMath four">0.3</div>
              </div>
            </div>
          </div>

          <div class="mathType" >
            <div class="mathHeader">
              <div class="addition">Addition</div>
            </div>

            <div id="addition" class="mathBoxes">
              <div class="mathBox">
                  <div class="miniMath one">
                      <h4>Add - 1 to 5</h4>
                      <p>CountNumberMulti</p>
                    </div>
                    <div class="miniMath two"></div>
                    <div class="miniMath three">1.2</div>
                    <div class="miniMath four">0.3</div>
              </div>
              <div class="mathBox">
                  <div class="miniMath one">
                      <h4>Add - 1 to 5</h4>
                      <p>CountNumberMulti</p>
                    </div>
                    <div class="miniMath two"></div>
                    <div class="miniMath three">1.2</div>
                    <div class="miniMath four">0.3</div>
              </div>
              <div class="mathBox">
                  <div class="miniMath one">
                      <h4>Add - 1 to 5</h4>
                      <p>CountNumberMulti</p>
                    </div>
                    <div class="miniMath two"></div>
                    <div class="miniMath three">1.2</div>
                    <div class="miniMath four">0.3</div>
              </div>
              <div class="mathBox">
                  <div class="miniMath one">
                      <h4>Add - 1 to 5</h4>
                      <p>CountNumberMulti</p>
                    </div>
                    <div class="miniMath two"></div>
                    <div class="miniMath three">1.2</div>
                    <div class="miniMath four">0.3</div>
              </div>
              <div class="mathBox">
                  <div class="miniMath one">
                      <h4>Add - 1 to 5</h4>
                      <p>CountNumberMulti</p>
                    </div>
                    <div class="miniMath two"></div>
                    <div class="miniMath three">1.2</div>
                    <div class="miniMath four">0.3</div>
              </div>
              <div class="mathBox">
                  <div class="miniMath one">
                      <h4>Add - 1 to 5</h4>
                      <p>CountNumberMulti</p>
                    </div>
                    <div class="miniMath two"></div>
                    <div class="miniMath three">1.2</div>
                    <div class="miniMath four">0.3</div>
              </div>
            </div>
          </div>

          <div class="mathType">
              <div class="mathHeader">
                <div class="subtraction">Subtraction</div>
              </div>
  
              <div id="subtraction" class="mathBoxes">
                <div class="mathBox">
                    <div class="miniMath one">
                        <h4>Subtract - 1 to 5</h4>
                        <p>CountNumberMulti</p>
                      </div>
                      <div class="miniMath two"></div>
                      <div class="miniMath three">1.2</div>
                      <div class="miniMath four">0.3</div>
                </div>
                <div class="mathBox">
                    <div class="miniMath one">
                        <h4>Subtract - 1 to 5</h4>
                        <p>CountNumberMulti</p>
                      </div>
                      <div class="miniMath two"></div>
                      <div class="miniMath three">1.2</div>
                      <div class="miniMath four">0.3</div>
                </div>
                <div class="mathBox">
                    <div class="miniMath one">
                        <h4>Subtract - 1 to 5</h4>
                        <p>CountNumberMulti</p>
                      </div>
                      <div class="miniMath two"></div>
                      <div class="miniMath three">1.2</div>
                      <div class="miniMath four">0.3</div>
                </div>
                <div class="mathBox">
                    <div class="miniMath one">
                        <h4>Subtract - 1 to 5</h4>
                        <p>CountNumberMulti</p>
                      </div>
                      <div class="miniMath two"></div>
                      <div class="miniMath three">1.2</div>
                      <div class="miniMath four">0.3</div>
                </div>
                <div class="mathBox">
                    <div class="miniMath one">
                        <h4>Subtract - 1 to 5</h4>
                        <p>CountNumberMulti</p>
                      </div>
                      <div class="miniMath two"></div>
                      <div class="miniMath three">1.2</div>
                      <div class="miniMath four">0.3</div>
                </div>
                <div class="mathBox">
                    <div class="miniMath one">
                        <h4>Subtract - 1 to 5</h4>
                        <p>CountNumberMulti</p>
                      </div>
                      <div class="miniMath two"></div>
                      <div class="miniMath three">1.2</div>
                      <div class="miniMath four">0.3</div>
                </div>
              </div>
            </div>
      </div>

      <div class="questions">Questions derp</div>
      
      <div class="users">Users derp</div>
      
      <div class="statistics">Statistics derp</div>
      
      <div class="settings">Settings derp</div> 
    </div>

  </div>
</div>
