<div id="overlay" (click)="overlayToggle()">
    <div id="signUp">
        <div class="split-2 left"></div>
        <div class="split-2 right"></div>
    </div>
</div>


<div id="infoPage">
    <div class="container">
        <ul>
            <li><a routerLink="app"><img class="img-responsive" src="assets/images/main-logo.png"></a></li>
            <li> ({{itemcount}})</li>
            <li>{{somstr}}</li>
            <li class="right"><a class="active" href="#home" (click)="overlayToggle()">Sign up/Login</a></li>
          </ul>
    </div>
  
    <section class="flowControl">
      <div class="container">
        <div class="split-2">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/v_h_4Cj2cwI" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="split-2">
          <article class="flow1">
            <header>
              <h3>Flow System</h3>
              <p>The Flow system combines is based on psychology research and combines the best of modern technology with conventional teaching material to teach your children math up to twleve times faster. With our system children learn math faster and more effectively. </p>
            </header>
            <footer>
              <a href="#" class="blueBtn">try now</a>
            </footer>
          </article>
        </div>
      </div>
    </section>
  
  
    <section class="services">
      <div class="container">
        <div class="split-3">
          <article>
            <img src="assets/images/ico1.png" alt=".icon" class="img-circle">
            <p>The book is uniquely suited to teach children new math material and integrates with our game and system so that you can track their progress on our platform.</p>
          </article>
        </div>
        <div class="split-3">
          <article>
            <img src="assets/images/ico2.png" alt=".icon" class="img-circle">
            <p>The game is based on years of psychology research and provides each and every student with individualized content in real time based on their skill level while making it something they enjoy.  </p>
          </article>
        </div>
        <div class="split-3">
          <article>
            <img src="assets/images/ico3.png" alt=".icon" class="img-circle">
            <p>The platform allows you to have in depth information about your children's progress, strengths and weaknesses. </p>
          </article>
        </div>
        
      </div>
    </section>
         
    <section class="features">
      <div class="container">
        <header>
          <div class="textCenter">
            <h2>Features</h2>
            <h3>Students learn 3x-12x faster using the Flow system</h3>
          </div>
        </header>
  
        <div class="split-2 left">
          <img alt="img" src="assets/images/features-img.png" class="img-thumbnail bigImg">
        </div>
        
  
        <div class="split-2 blockBox">
          <div class="split-2 blocks">
            <article class="featureBox textCenter">
              <img alt="img" src="assets/images/feature1.png">
                <header>
                  <h3>Learn faster</h3>
                </header>
            </article>
          </div>
              
          <div class="split-2 blocks">
            <article class="featureBox textCenter">
              <img alt="img" src="assets/images/feature2.png">
              <header>
                <h3>individualised material</h3>
              </header>
            </article>
          </div>
                
          <div class="split-2 mar30 blocks">
            <article class="featureBox textCenter">
              <img alt="img" src="assets/images/feature3.png">
              <header>
                <h3>Monitor their progress</h3>
              </header>
            </article>
          </div>
          
          <div class="split-2 mar30 blocks">
            <article class="featureBox textCenter">
              <img alt="img" src="assets/images/feature4.png">
              <header>
                <h3>Rewards</h3>
              </header>
            </article>
          </div>
        </div>
      
      </div>
    </section>
  
    <section class="contactUs">
      <div class="container">
        <div class="textCenter">
          <header>
            <h2>Contact Us</h2>
          </header>
          <p> Have any questions or suggestions? </p> <p> Please contact us for more information. </p>
          <footer>
            <a href="mailto:flow@floweducation.io?Subject=Contact" class="contactBtn">contact</a>
          </footer>
        </div>
      </div>
    </section>
  
    <div class="container">
      <ul>
          <li><a href="#" target="blank">  <img alt="flow" src="assets/images/main-logo.png">
          </a></li>
  
          <li class="right"><a href="#" target="_blank"> <img alt="google" src="assets/images/icon4.png">
          </a></li>
          <li class="right"><a href="#" target="_blank"> <img alt="instagram" src="assets/images/icon3.png">
          </a></li>
          <li class="right"><a href="#" target="_blank"> <img alt="in" src="assets/images/icon2.png">
          </a></li>
          <li class="right"><a href="#" target="_blank"> <img alt="facebook" src="assets/images/icon1.png">
          </a></li>
        
          
      </ul>
    </div>
  </div>